/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.one{
	background-color:#011e29;
	height:90px;
	color:white;
	display:flex;
	flex-flow:column;
	justify-content:center;
	text-align:center;
}
.first{
	height:80px;
	width:80px;
	background-color:white;
	
}
